{% extends 'base.html.twig' %}

{% block title %}Modifier une réservation{% endblock %}

{% block body %}
    <h1>Modifier la réservation</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer les modifications</button>
        <a href="{{ path('partner_dashboard') }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
