{% extends 'base.html.twig' %}

{% block title %}Créer une réservation{% endblock %}

{% block body %}
    <h1>Créer une réservation</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
