<h1>Hôtels avec offres disponibles</h1>
<ul>
    {% for hotel in hotels %}
        <li>
            <strong>{{ hotel.name }}</strong> à {{ hotel.city }}
            <a href="{{ path('client_hotel_reservations', {id: hotel.id}) }}">Voir les réservations disponibles</a>
        </li>
    {% else %}
        <li>Aucun hôtel avec des offres disponibles.</li>
    {% endfor %}
</ul>
