{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}
    <h1>Réserver {{ hotel.name }}</h1>
    {{ form_start(reservationForm) }}
        {{ form_widget(reservationForm) }}
        <button class="btn btn-primary">Réserver</button>
    {{ form_end(reservationForm) }}
{% endblock %}
